In [1]:
import pandas as pd
import numpy as np
from math import radians
from math import dist
import matplotlib as plt
from pandas_profiling import ProfileReport

In [2]:
#Importing the Datasets for Massachusetts Unclaimed Porperty
MA2 = pd.read_csv (r'/Users/jonathangabriel/Documents/Data Wrangling Project/Datasets/MA2.txt')
MA2.to_csv (r'/Users/jonathangabriel/Documents/Data Wrangling Project/Datasets/Mass1.csv', index=None)

MA3 = pd.read_csv (r'/Users/jonathangabriel/Documents/Data Wrangling Project/Datasets/MA3.txt')
MA3.to_csv (r'/Users/jonathangabriel/Documents/Data Wrangling Project/Datasets/Mass2.csv', index=None)

In [3]:
#Reading the file to be saved as a csv file.

ab1 = pd.read_csv('Mass1.csv', low_memory = False )
ab2 = pd.read_csv('Mass2.csv', low_memory = False )

In [4]:
#Merge the datasets

result = [ab1, ab2]
df_MA = pd.concat(result)

In [5]:
df_MA

,PropertyID,ReportYear,NameLast,NameFirst,NameMiddle,Address1,Address2,City,ZipCode,OwnerCount,...,SecurityName,RemittedCash,OriginalSecurityCashAmount,OriginalShares,RemainingShares,RemainingSecuritiesCash,CheckNo,HasSecurities,HasCash,HasTangible
0,26212501,2020,MACKIEWICZ,MARYNIA,E,52 TROWBRIDGE ST APT 8,NaN,CAMBRIDGE,02138,1,...,NaN,3.48,0.0,0.0,0.0,0.0,16081671,No,Yes,No
1,26212502,2020,MACKIN,APRIL,M,56 EASTLAND RD,NaN,JAMAICA PLAIN,02130,1,...,NaN,0.66,0.0,0.0,0.0,0.0,14521451,No,Yes,No
2,26212503,2020,MACKIN,KEVIN,C,43 BOLAS RD,NaN,DUXBURY,02332,1,...,NaN,0.88,0.0,0.0,0.0,0.0,14521018,No,Yes,No
3,26212504,2020,MACKIN,SCOTT,NaN,13 PROSPECT ST,NaN,NEWBURYPORT,01950,1,...,NaN,91.56,0.0,0.0,0.0,0.0,19705039,No,Yes,No
4,26212505,2020,MACKINNON,BRIAN,J,7 STRONG ST,APT 2,NEWBURYPORT,01950,1,...,NaN,30.45,0.0,0.0,0.0,0.0,19572636,No,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
556231,26287836,2020,BALBONI,JOHN,H,23 BEACH RD APT D3,NaN,SALISBURY,019522012,1,...,NaN,193.00,0.0,0.0,0.0,0.0,02410052762,No,Yes,No
556232,26287837,2020,BALDINA,JACQUELINE,NaN,423 MORRIS ST,NaN,SOUTHBRIDGE,015502757,1,...,NaN,25.00,0.0,0.0,0.0,0.0,02410056646,No,Yes,No
556233,26287838,2020,BALIAN,SHAWN,P,41 DUTCHER ST APT 19,NaN,HOPEDALE,017471257,1,...,NaN,13.00,0.0,0.0,0.0,0.0,02410031933,No,Yes,No
556234,26287839,2020,BANDEINA,HELENA,F,287 SALEM ST APT 3,NaN,MEDFORD,021550000,1,...,NaN,14.05,0.0,0.0,0.0,0.0,02410020371,No,Yes,No
556235,26287840,2020,BAPTISTE,DARNELL,J,198 STRAWBERRY HILL RD,NaN,CENTERVILLE,026323754,1,...,NaN,10.67,0.0,0.0,0.0,0.0,02410053614,No,Yes,No

In [158]:
#Extracting a profile report for the Massachusetts UCP DataFrame to understand the information under different variable.
profile_MA = ProfileReport(df_MA, title = "Massachusetts UCP Profile")
profile_MA.to_file("MA_profile_report.html")

In [159]:
df_MA.columns

Index(['PropertyID', ' ReportYear', ' NameLast', ' NameFirst', ' NameMiddle',
       ' Address1', ' Address2', ' City', ' ZipCode', ' OwnerCount',
       ' OwnerType', ' RelationshipType', ' PropertyTypeCD',
       ' PropertyTypeCodeDescription', ' HolderName', ' CUSIPNumber',
       ' SecurityName', ' RemittedCash', ' OriginalSecurityCashAmount',
       ' OriginalShares', ' RemainingShares', ' RemainingSecuritiesCash',
       ' CheckNo', ' HasSecurities', ' HasCash', ' HasTangible '],
      dtype='object')

In [160]:
#Selecting certain useful columns.

df_MA = df_MA[['PropertyID', ' ReportYear', ' NameLast', ' NameFirst', ' NameMiddle', ' Address1',
               ' Address2',' City', ' ZipCode', ' PropertyTypeCodeDescription', ' HolderName', ' RemittedCash', 
                ' OriginalSecurityCashAmount', ' OriginalShares', ' RemainingShares', ' RemainingSecuritiesCash']]

In [161]:
#Transformimg to csv to determine which banks to work on.
df_MAHolder = df_MA[[' PropertyTypeCodeDescription', ' HolderName']]
df_MAHolder.to_csv('Holder and Type Info.csv')

In [162]:
#df_MAPP = df_MAHolder.drop_duplicates(subset = [' PropertyTypeCodeDescription'])

In [163]:
#df_MAPP.to_excel('Holder and Type Info.xlsx')

In [164]:
#Filtering out chosen bank names

df_MA = df_MA[df_MA[' HolderName'].str.contains("JP MORGAN CHASE BANK|BANK OF AMERICA|WELLS FARGO|CITIBANK")]

df_MA

,PropertyID,ReportYear,NameLast,NameFirst,NameMiddle,Address1,Address2,City,ZipCode,PropertyTypeCodeDescription,HolderName,RemittedCash,OriginalSecurityCashAmount,OriginalShares,RemainingShares,RemainingSecuritiesCash
0,26212501,2020,MACKIEWICZ,MARYNIA,E,52 TROWBRIDGE ST APT 8,NaN,CAMBRIDGE,02138,Accounts Receivable Credit Balances,"CITIBANK, N.A.",3.48,0.0,0.0,0.0,0.0
1,26212502,2020,MACKIN,APRIL,M,56 EASTLAND RD,NaN,JAMAICA PLAIN,02130,Accounts Receivable Credit Balances,"CITIBANK, N.A.",0.66,0.0,0.0,0.0,0.0
2,26212503,2020,MACKIN,KEVIN,C,43 BOLAS RD,NaN,DUXBURY,02332,Accounts Receivable Credit Balances,"CITIBANK, N.A.",0.88,0.0,0.0,0.0,0.0
3,26212504,2020,MACKIN,SCOTT,NaN,13 PROSPECT ST,NaN,NEWBURYPORT,01950,Accounts Receivable Credit Balances,"CITIBANK, N.A.",91.56,0.0,0.0,0.0,0.0
4,26212505,2020,MACKINNON,BRIAN,J,7 STRONG ST,APT 2,NEWBURYPORT,01950,Accounts Receivable Credit Balances,"CITIBANK, N.A.",30.45,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
548090,26214873,2020,MISNER,BETH,J,4 FORGE HILL RD,APT 313,FRANKLIN,02038,Accounts Receivable Credit Balances,"CITIBANK, N.A.",150.89,0.0,0.0,0.0,0.0
548091,26214875,2020,MISRA,SANJIB,NaN,520 TALBOT AVE APT 14,NaN,DORCHESTER CENTER,02124,Accounts Receivable Credit Balances,"CITIBANK, N.A.",98.06,0.0,0.0,0.0,0.0
548092,26214876,2020,MISSION,REGINA,NaN,549 FRANKLIN ST,NaN,CAMBRIDGE,02139,Accounts Receivable Credit Balances,"CITIBANK, N.A.",16.03,0.0,0.0,0.0,0.0
548093,26214885,2020,MITCHELL,CRAIG,NaN,129 E MAIN ST APT 313,NaN,WESTBOROUGH,01581,Accounts Receivable Credit Balances,"CITIBANK, N.A.",4496.00,0.0,0.0,0.0,0.0
548094,26214890,2020,MITCHELL,FAYE,NaN,2875 WASHINGTON ST APT 8D,NaN,ROXBURY,02119,Accounts Receivable Credit Balances,"CITIBANK, N.A.",14.23,0.0,0.0,0.0,0.0

In [165]:
#Cleaning and giving the zipcode a proper format.

df_MA['Zip'] = df_MA[' ZipCode'].str.replace(' |-','')
df_MA['Zip'] = df_MA['Zip'].str.slice(stop=5)
df_MA

/var/folders/6_/g9lywzxj5hb6vln3ckbxczlr0000gn/T/ipykernel_76751/3371020668.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df_MA['Zip'] = df_MA[' ZipCode'].str.replace(' |-','')

,PropertyID,ReportYear,NameLast,NameFirst,NameMiddle,Address1,Address2,City,ZipCode,PropertyTypeCodeDescription,HolderName,RemittedCash,OriginalSecurityCashAmount,OriginalShares,RemainingShares,RemainingSecuritiesCash,Zip
0,26212501,2020,MACKIEWICZ,MARYNIA,E,52 TROWBRIDGE ST APT 8,NaN,CAMBRIDGE,02138,Accounts Receivable Credit Balances,"CITIBANK, N.A.",3.48,0.0,0.0,0.0,0.0,02138
1,26212502,2020,MACKIN,APRIL,M,56 EASTLAND RD,NaN,JAMAICA PLAIN,02130,Accounts Receivable Credit Balances,"CITIBANK, N.A.",0.66,0.0,0.0,0.0,0.0,02130
2,26212503,2020,MACKIN,KEVIN,C,43 BOLAS RD,NaN,DUXBURY,02332,Accounts Receivable Credit Balances,"CITIBANK, N.A.",0.88,0.0,0.0,0.0,0.0,02332
3,26212504,2020,MACKIN,SCOTT,NaN,13 PROSPECT ST,NaN,NEWBURYPORT,01950,Accounts Receivable Credit Balances,"CITIBANK, N.A.",91.56,0.0,0.0,0.0,0.0,01950
4,26212505,2020,MACKINNON,BRIAN,J,7 STRONG ST,APT 2,NEWBURYPORT,01950,Accounts Receivable Credit Balances,"CITIBANK, N.A.",30.45,0.0,0.0,0.0,0.0,01950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
548090,26214873,2020,MISNER,BETH,J,4 FORGE HILL RD,APT 313,FRANKLIN,02038,Accounts Receivable Credit Balances,"CITIBANK, N.A.",150.89,0.0,0.0,0.0,0.0,02038
548091,26214875,2020,MISRA,SANJIB,NaN,520 TALBOT AVE APT 14,NaN,DORCHESTER CENTER,02124,Accounts Receivable Credit Balances,"CITIBANK, N.A.",98.06,0.0,0.0,0.0,0.0,02124
548092,26214876,2020,MISSION,REGINA,NaN,549 FRANKLIN ST,NaN,CAMBRIDGE,02139,Accounts Receivable Credit Balances,"CITIBANK, N.A.",16.03,0.0,0.0,0.0,0.0,02139
548093,26214885,2020,MITCHELL,CRAIG,NaN,129 E MAIN ST APT 313,NaN,WESTBOROUGH,01581,Accounts Receivable Credit Balances,"CITIBANK, N.A.",4496.00,0.0,0.0,0.0,0.0,01581
548094,26214890,2020,MITCHELL,FAYE,NaN,2875 WASHINGTON ST APT 8D,NaN,ROXBURY,02119,Accounts Receivable Credit Balances,"CITIBANK, N.A.",14.23,0.0,0.0,0.0,0.0,02119

In [166]:
#Replacing null values from columns Last name, First name and Middle name and merging them together.
df_MA[' NameLast'] = df_MA[' NameLast'].fillna('')
df_MA[' NameFirst'] = df_MA[' NameFirst'].fillna('')
df_MA[' NameMiddle'] = df_MA[' NameMiddle'].fillna('')

df_MA.insert(loc = 2, column = 'Owner_Name', value = df_MA[' NameFirst'] 
             + " " + df_MA[' NameMiddle'] + " " + df_MA[' NameMiddle'].map(str))

In [167]:
del df_MA[' NameLast']
del df_MA[' NameFirst']
del df_MA[' NameMiddle']

df_MA

,PropertyID,ReportYear,Owner_Name,Address1,Address2,City,ZipCode,PropertyTypeCodeDescription,HolderName,RemittedCash,OriginalSecurityCashAmount,OriginalShares,RemainingShares,RemainingSecuritiesCash,Zip
0,26212501,2020,MARYNIA E E,52 TROWBRIDGE ST APT 8,NaN,CAMBRIDGE,02138,Accounts Receivable Credit Balances,"CITIBANK, N.A.",3.48,0.0,0.0,0.0,0.0,02138
1,26212502,2020,APRIL M M,56 EASTLAND RD,NaN,JAMAICA PLAIN,02130,Accounts Receivable Credit Balances,"CITIBANK, N.A.",0.66,0.0,0.0,0.0,0.0,02130
2,26212503,2020,KEVIN C C,43 BOLAS RD,NaN,DUXBURY,02332,Accounts Receivable Credit Balances,"CITIBANK, N.A.",0.88,0.0,0.0,0.0,0.0,02332
3,26212504,2020,SCOTT,13 PROSPECT ST,NaN,NEWBURYPORT,01950,Accounts Receivable Credit Balances,"CITIBANK, N.A.",91.56,0.0,0.0,0.0,0.0,01950
4,26212505,2020,BRIAN J J,7 STRONG ST,APT 2,NEWBURYPORT,01950,Accounts Receivable Credit Balances,"CITIBANK, N.A.",30.45,0.0,0.0,0.0,0.0,01950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
548090,26214873,2020,BETH J J,4 FORGE HILL RD,APT 313,FRANKLIN,02038,Accounts Receivable Credit Balances,"CITIBANK, N.A.",150.89,0.0,0.0,0.0,0.0,02038
548091,26214875,2020,SANJIB,520 TALBOT AVE APT 14,NaN,DORCHESTER CENTER,02124,Accounts Receivable Credit Balances,"CITIBANK, N.A.",98.06,0.0,0.0,0.0,0.0,02124
548092,26214876,2020,REGINA,549 FRANKLIN ST,NaN,CAMBRIDGE,02139,Accounts Receivable Credit Balances,"CITIBANK, N.A.",16.03,0.0,0.0,0.0,0.0,02139
548093,26214885,2020,CRAIG,129 E MAIN ST APT 313,NaN,WESTBOROUGH,01581,Accounts Receivable Credit Balances,"CITIBANK, N.A.",4496.00,0.0,0.0,0.0,0.0,01581
548094,26214890,2020,FAYE,2875 WASHINGTON ST APT 8D,NaN,ROXBURY,02119,Accounts Receivable Credit Balances,"CITIBANK, N.A.",14.23,0.0,0.0,0.0,0.0,02119

In [168]:
#Standardizing bank names.
df_MA.loc[df_MA[' HolderName'].str.contains("BANK OF AMERICA"), ' HolderName']="BANK OF AMERICA"
df_MA.loc[df_MA[' HolderName'].str.contains("JP MORGAN CHASE"), ' HolderName']="JP MORGAN CHASE BANK"
df_MA.loc[df_MA[' HolderName'].str.contains("WELLS FARGO"), ' HolderName']="WELLS FARGO BANK"
df_MA.loc[df_MA[' HolderName'].str.contains("CITIBANK"), ' HolderName']="CITIBANK"

In [169]:
df_MA

,PropertyID,ReportYear,Owner_Name,Address1,Address2,City,ZipCode,PropertyTypeCodeDescription,HolderName,RemittedCash,OriginalSecurityCashAmount,OriginalShares,RemainingShares,RemainingSecuritiesCash,Zip
0,26212501,2020,MARYNIA E E,52 TROWBRIDGE ST APT 8,NaN,CAMBRIDGE,02138,Accounts Receivable Credit Balances,CITIBANK,3.48,0.0,0.0,0.0,0.0,02138
1,26212502,2020,APRIL M M,56 EASTLAND RD,NaN,JAMAICA PLAIN,02130,Accounts Receivable Credit Balances,CITIBANK,0.66,0.0,0.0,0.0,0.0,02130
2,26212503,2020,KEVIN C C,43 BOLAS RD,NaN,DUXBURY,02332,Accounts Receivable Credit Balances,CITIBANK,0.88,0.0,0.0,0.0,0.0,02332
3,26212504,2020,SCOTT,13 PROSPECT ST,NaN,NEWBURYPORT,01950,Accounts Receivable Credit Balances,CITIBANK,91.56,0.0,0.0,0.0,0.0,01950
4,26212505,2020,BRIAN J J,7 STRONG ST,APT 2,NEWBURYPORT,01950,Accounts Receivable Credit Balances,CITIBANK,30.45,0.0,0.0,0.0,0.0,01950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
548090,26214873,2020,BETH J J,4 FORGE HILL RD,APT 313,FRANKLIN,02038,Accounts Receivable Credit Balances,CITIBANK,150.89,0.0,0.0,0.0,0.0,02038
548091,26214875,2020,SANJIB,520 TALBOT AVE APT 14,NaN,DORCHESTER CENTER,02124,Accounts Receivable Credit Balances,CITIBANK,98.06,0.0,0.0,0.0,0.0,02124
548092,26214876,2020,REGINA,549 FRANKLIN ST,NaN,CAMBRIDGE,02139,Accounts Receivable Credit Balances,CITIBANK,16.03,0.0,0.0,0.0,0.0,02139
548093,26214885,2020,CRAIG,129 E MAIN ST APT 313,NaN,WESTBOROUGH,01581,Accounts Receivable Credit Balances,CITIBANK,4496.00,0.0,0.0,0.0,0.0,01581
548094,26214890,2020,FAYE,2875 WASHINGTON ST APT 8D,NaN,ROXBURY,02119,Accounts Receivable Credit Balances,CITIBANK,14.23,0.0,0.0,0.0,0.0,02119

In [170]:
#Replacing null values from columns Address1, Address1 and merging them together.
df_MA[' Address1'] = df_MA[' Address1'].fillna('')
df_MA[' Address2'] = df_MA[' Address2'].fillna('')
df_MA.insert(loc = 3, column = 'Address', value = df_MA[' Address1'] + " " + df_MA[' Address2'].map(str))

del df_MA[' Address1']
del df_MA[' Address2']

In [171]:
#Relocating Zip Column and deleting the inconsistent zip column
df_MA.insert(loc = 5, column = 'Zipcode', value = df_MA['Zip'])
del df_MA['Zip']
del df_MA[' ZipCode']
df_MA

,PropertyID,ReportYear,Owner_Name,Address,City,Zipcode,PropertyTypeCodeDescription,HolderName,RemittedCash,OriginalSecurityCashAmount,OriginalShares,RemainingShares,RemainingSecuritiesCash
0,26212501,2020,MARYNIA E E,52 TROWBRIDGE ST APT 8,CAMBRIDGE,02138,Accounts Receivable Credit Balances,CITIBANK,3.48,0.0,0.0,0.0,0.0
1,26212502,2020,APRIL M M,56 EASTLAND RD,JAMAICA PLAIN,02130,Accounts Receivable Credit Balances,CITIBANK,0.66,0.0,0.0,0.0,0.0
2,26212503,2020,KEVIN C C,43 BOLAS RD,DUXBURY,02332,Accounts Receivable Credit Balances,CITIBANK,0.88,0.0,0.0,0.0,0.0
3,26212504,2020,SCOTT,13 PROSPECT ST,NEWBURYPORT,01950,Accounts Receivable Credit Balances,CITIBANK,91.56,0.0,0.0,0.0,0.0
4,26212505,2020,BRIAN J J,7 STRONG ST APT 2,NEWBURYPORT,01950,Accounts Receivable Credit Balances,CITIBANK,30.45,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
548090,26214873,2020,BETH J J,4 FORGE HILL RD APT 313,FRANKLIN,02038,Accounts Receivable Credit Balances,CITIBANK,150.89,0.0,0.0,0.0,0.0
548091,26214875,2020,SANJIB,520 TALBOT AVE APT 14,DORCHESTER CENTER,02124,Accounts Receivable Credit Balances,CITIBANK,98.06,0.0,0.0,0.0,0.0
548092,26214876,2020,REGINA,549 FRANKLIN ST,CAMBRIDGE,02139,Accounts Receivable Credit Balances,CITIBANK,16.03,0.0,0.0,0.0,0.0
548093,26214885,2020,CRAIG,129 E MAIN ST APT 313,WESTBOROUGH,01581,Accounts Receivable Credit Balances,CITIBANK,4496.00,0.0,0.0,0.0,0.0
548094,26214890,2020,FAYE,2875 WASHINGTON ST APT 8D,ROXBURY,02119,Accounts Receivable Credit Balances,CITIBANK,14.23,0.0,0.0,0.0,0.0

In [172]:
#Merging the amount columns.
df_MA.insert(loc = 8, column = 'Unclaimed_Money', value = df_MA[' RemittedCash'] + 
             df_MA[' OriginalSecurityCashAmount'] +df_MA[' OriginalShares'] 
             + df_MA[' RemainingShares'] + df_MA[' RemainingSecuritiesCash'])

del df_MA[' RemittedCash']
del df_MA[' OriginalSecurityCashAmount']
del df_MA[' OriginalShares']
del df_MA[' RemainingShares']
del df_MA[' RemainingSecuritiesCash']

df_MA

,PropertyID,ReportYear,Owner_Name,Address,City,Zipcode,PropertyTypeCodeDescription,HolderName,Unclaimed_Money
0,26212501,2020,MARYNIA E E,52 TROWBRIDGE ST APT 8,CAMBRIDGE,02138,Accounts Receivable Credit Balances,CITIBANK,3.48
1,26212502,2020,APRIL M M,56 EASTLAND RD,JAMAICA PLAIN,02130,Accounts Receivable Credit Balances,CITIBANK,0.66
2,26212503,2020,KEVIN C C,43 BOLAS RD,DUXBURY,02332,Accounts Receivable Credit Balances,CITIBANK,0.88
3,26212504,2020,SCOTT,13 PROSPECT ST,NEWBURYPORT,01950,Accounts Receivable Credit Balances,CITIBANK,91.56
4,26212505,2020,BRIAN J J,7 STRONG ST APT 2,NEWBURYPORT,01950,Accounts Receivable Credit Balances,CITIBANK,30.45
...,...,...,...,...,...,...,...,...,...
548090,26214873,2020,BETH J J,4 FORGE HILL RD APT 313,FRANKLIN,02038,Accounts Receivable Credit Balances,CITIBANK,150.89
548091,26214875,2020,SANJIB,520 TALBOT AVE APT 14,DORCHESTER CENTER,02124,Accounts Receivable Credit Balances,CITIBANK,98.06
548092,26214876,2020,REGINA,549 FRANKLIN ST,CAMBRIDGE,02139,Accounts Receivable Credit Balances,CITIBANK,16.03
548093,26214885,2020,CRAIG,129 E MAIN ST APT 313,WESTBOROUGH,01581,Accounts Receivable Credit Balances,CITIBANK,4496.00
548094,26214890,2020,FAYE,2875 WASHINGTON ST APT 8D,ROXBURY,02119,Accounts Receivable Credit Balances,CITIBANK,14.23

In [173]:
#Renaming Column names.
dict = {'PropertyID': 'PROPERTY_ID', ' ReportYear': 'YEAR_REPORTED', 'Owner_Name': 'OWNER_NAME',
        'Address': 'ADDRESS', ' City': 'CITY', 'Zipcode': 'ZIP',' PropertyTypeCodeDescription': 'PROPERTY_TYPE',
        ' HolderName': 'HOLDER_NAME', 'Unclaimed_Money': 'UNCLAIMED_MONEY', ' CheckNo': 'CHECK_NUM',
          ' HasSecurities': 'SECURITIES'}
df_MA.rename(columns=dict, inplace=True)
df_MA

,PROPERTY_ID,YEAR_REPORTED,OWNER_NAME,ADDRESS,CITY,ZIP,PROPERTY_TYPE,HOLDER_NAME,UNCLAIMED_MONEY
0,26212501,2020,MARYNIA E E,52 TROWBRIDGE ST APT 8,CAMBRIDGE,02138,Accounts Receivable Credit Balances,CITIBANK,3.48
1,26212502,2020,APRIL M M,56 EASTLAND RD,JAMAICA PLAIN,02130,Accounts Receivable Credit Balances,CITIBANK,0.66
2,26212503,2020,KEVIN C C,43 BOLAS RD,DUXBURY,02332,Accounts Receivable Credit Balances,CITIBANK,0.88
3,26212504,2020,SCOTT,13 PROSPECT ST,NEWBURYPORT,01950,Accounts Receivable Credit Balances,CITIBANK,91.56
4,26212505,2020,BRIAN J J,7 STRONG ST APT 2,NEWBURYPORT,01950,Accounts Receivable Credit Balances,CITIBANK,30.45
...,...,...,...,...,...,...,...,...,...
548090,26214873,2020,BETH J J,4 FORGE HILL RD APT 313,FRANKLIN,02038,Accounts Receivable Credit Balances,CITIBANK,150.89
548091,26214875,2020,SANJIB,520 TALBOT AVE APT 14,DORCHESTER CENTER,02124,Accounts Receivable Credit Balances,CITIBANK,98.06
548092,26214876,2020,REGINA,549 FRANKLIN ST,CAMBRIDGE,02139,Accounts Receivable Credit Balances,CITIBANK,16.03
548093,26214885,2020,CRAIG,129 E MAIN ST APT 313,WESTBOROUGH,01581,Accounts Receivable Credit Balances,CITIBANK,4496.00
548094,26214890,2020,FAYE,2875 WASHINGTON ST APT 8D,ROXBURY,02119,Accounts Receivable Credit Balances,CITIBANK,14.23

In [174]:
for x in df_MA.columns:
    missing_val= df_MA[x].isnull().sum()

    if missing_val>0:
        print("{} has {} missing value(s)".format(x,missing_val))
    else:
        print("{} has NO missing value!".format(x))

PROPERTY_ID has NO missing value!
YEAR_REPORTED has NO missing value!
OWNER_NAME has NO missing value!
ADDRESS has NO missing value!
CITY has 557 missing value(s)
ZIP has 1447 missing value(s)
PROPERTY_TYPE has NO missing value!
HOLDER_NAME has NO missing value!
UNCLAIMED_MONEY has NO missing value!

In [175]:
#Filling Missing values for No Cities and No Zip
df_MA.CITY = df_MA.CITY.fillna('No City')
df_MA.ZIP = df_MA.ZIP.fillna('No ZIP')

In [176]:
df_MA

,PROPERTY_ID,YEAR_REPORTED,OWNER_NAME,ADDRESS,CITY,ZIP,PROPERTY_TYPE,HOLDER_NAME,UNCLAIMED_MONEY
0,26212501,2020,MARYNIA E E,52 TROWBRIDGE ST APT 8,CAMBRIDGE,02138,Accounts Receivable Credit Balances,CITIBANK,3.48
1,26212502,2020,APRIL M M,56 EASTLAND RD,JAMAICA PLAIN,02130,Accounts Receivable Credit Balances,CITIBANK,0.66
2,26212503,2020,KEVIN C C,43 BOLAS RD,DUXBURY,02332,Accounts Receivable Credit Balances,CITIBANK,0.88
3,26212504,2020,SCOTT,13 PROSPECT ST,NEWBURYPORT,01950,Accounts Receivable Credit Balances,CITIBANK,91.56
4,26212505,2020,BRIAN J J,7 STRONG ST APT 2,NEWBURYPORT,01950,Accounts Receivable Credit Balances,CITIBANK,30.45
...,...,...,...,...,...,...,...,...,...
548090,26214873,2020,BETH J J,4 FORGE HILL RD APT 313,FRANKLIN,02038,Accounts Receivable Credit Balances,CITIBANK,150.89
548091,26214875,2020,SANJIB,520 TALBOT AVE APT 14,DORCHESTER CENTER,02124,Accounts Receivable Credit Balances,CITIBANK,98.06
548092,26214876,2020,REGINA,549 FRANKLIN ST,CAMBRIDGE,02139,Accounts Receivable Credit Balances,CITIBANK,16.03
548093,26214885,2020,CRAIG,129 E MAIN ST APT 313,WESTBOROUGH,01581,Accounts Receivable Credit Balances,CITIBANK,4496.00
548094,26214890,2020,FAYE,2875 WASHINGTON ST APT 8D,ROXBURY,02119,Accounts Receivable Credit Balances,CITIBANK,14.23

In [177]:
df_MA.columns

Index(['PROPERTY_ID', 'YEAR_REPORTED', 'OWNER_NAME', 'ADDRESS', 'CITY', 'ZIP',
       'PROPERTY_TYPE', 'HOLDER_NAME', 'UNCLAIMED_MONEY'],
      dtype='object')

In [178]:
df_MA.insert(loc = 9, column = 'for_duplicates', value = df_MA['PROPERTY_ID'].map(str) + df_MA['YEAR_REPORTED'].map(str) 
             +df_MA['OWNER_NAME'] + df_MA['ADDRESS'] + df_MA['CITY'] + df_MA['ZIP'].map(str) + df_MA['PROPERTY_TYPE']
             + df_MA['HOLDER_NAME'] + df_MA['UNCLAIMED_MONEY'].map(str))
df_MA

,PROPERTY_ID,YEAR_REPORTED,OWNER_NAME,ADDRESS,CITY,ZIP,PROPERTY_TYPE,HOLDER_NAME,UNCLAIMED_MONEY,for_duplicates
0,26212501,2020,MARYNIA E E,52 TROWBRIDGE ST APT 8,CAMBRIDGE,02138,Accounts Receivable Credit Balances,CITIBANK,3.48,262125012020MARYNIA E E52 TROWBRIDGE ST APT 8 ...
1,26212502,2020,APRIL M M,56 EASTLAND RD,JAMAICA PLAIN,02130,Accounts Receivable Credit Balances,CITIBANK,0.66,262125022020APRIL M M56 EASTLAND RD JAMAICA PL...
2,26212503,2020,KEVIN C C,43 BOLAS RD,DUXBURY,02332,Accounts Receivable Credit Balances,CITIBANK,0.88,262125032020KEVIN C C43 BOLAS RD DUXBURY02332A...
3,26212504,2020,SCOTT,13 PROSPECT ST,NEWBURYPORT,01950,Accounts Receivable Credit Balances,CITIBANK,91.56,262125042020SCOTT 13 PROSPECT ST NEWBURYPORT0...
4,26212505,2020,BRIAN J J,7 STRONG ST APT 2,NEWBURYPORT,01950,Accounts Receivable Credit Balances,CITIBANK,30.45,262125052020BRIAN J J7 STRONG ST APT 2NEWBURYP...
...,...,...,...,...,...,...,...,...,...,...
548090,26214873,2020,BETH J J,4 FORGE HILL RD APT 313,FRANKLIN,02038,Accounts Receivable Credit Balances,CITIBANK,150.89,262148732020BETH J J4 FORGE HILL RD APT 313FRA...
548091,26214875,2020,SANJIB,520 TALBOT AVE APT 14,DORCHESTER CENTER,02124,Accounts Receivable Credit Balances,CITIBANK,98.06,262148752020SANJIB 520 TALBOT AVE APT 14 DORC...
548092,26214876,2020,REGINA,549 FRANKLIN ST,CAMBRIDGE,02139,Accounts Receivable Credit Balances,CITIBANK,16.03,262148762020REGINA 549 FRANKLIN ST CAMBRIDGE0...
548093,26214885,2020,CRAIG,129 E MAIN ST APT 313,WESTBOROUGH,01581,Accounts Receivable Credit Balances,CITIBANK,4496.00,262148852020CRAIG 129 E MAIN ST APT 313 WESTB...
548094,26214890,2020,FAYE,2875 WASHINGTON ST APT 8D,ROXBURY,02119,Accounts Receivable Credit Balances,CITIBANK,14.23,262148902020FAYE 2875 WASHINGTON ST APT 8D RO...

In [179]:
df_MA = df_MA.drop_duplicates(subset=['for_duplicates'])

df_MA

,PROPERTY_ID,YEAR_REPORTED,OWNER_NAME,ADDRESS,CITY,ZIP,PROPERTY_TYPE,HOLDER_NAME,UNCLAIMED_MONEY,for_duplicates
0,26212501,2020,MARYNIA E E,52 TROWBRIDGE ST APT 8,CAMBRIDGE,02138,Accounts Receivable Credit Balances,CITIBANK,3.48,262125012020MARYNIA E E52 TROWBRIDGE ST APT 8 ...
1,26212502,2020,APRIL M M,56 EASTLAND RD,JAMAICA PLAIN,02130,Accounts Receivable Credit Balances,CITIBANK,0.66,262125022020APRIL M M56 EASTLAND RD JAMAICA PL...
2,26212503,2020,KEVIN C C,43 BOLAS RD,DUXBURY,02332,Accounts Receivable Credit Balances,CITIBANK,0.88,262125032020KEVIN C C43 BOLAS RD DUXBURY02332A...
3,26212504,2020,SCOTT,13 PROSPECT ST,NEWBURYPORT,01950,Accounts Receivable Credit Balances,CITIBANK,91.56,262125042020SCOTT 13 PROSPECT ST NEWBURYPORT0...
4,26212505,2020,BRIAN J J,7 STRONG ST APT 2,NEWBURYPORT,01950,Accounts Receivable Credit Balances,CITIBANK,30.45,262125052020BRIAN J J7 STRONG ST APT 2NEWBURYP...
...,...,...,...,...,...,...,...,...,...,...
1199570,25422468,2019,FEI,250 MAIN ST UNIT 425546,CAMBRIDGE,02142,Accounts Receivable Credit Balances,JP MORGAN CHASE BANK,9.04,254224682019FEI 250 MAIN ST UNIT 425546 CAMBR...
1199571,25422469,2019,JENNIFER,184 MAIN ST,MELROSE,02176,Accounts Receivable Credit Balances,JP MORGAN CHASE BANK,0.04,254224692019JENNIFER 184 MAIN ST MELROSE02176...
1199572,25422470,2019,JING,20 ARBOR LN,WINCHESTER,01890,Accounts Receivable Credit Balances,JP MORGAN CHASE BANK,0.02,254224702019JING 20 ARBOR LN WINCHESTER01890A...
1199573,25422471,2019,JING,76 FOSTER RD,BELMONT,02478,Accounts Receivable Credit Balances,JP MORGAN CHASE BANK,39.95,254224712019JING 76 FOSTER RD BELMONT02478Acc...
1199574,25422472,2019,JOANNE,112 SUMNER ST,EAST BOSTON,02128,Accounts Receivable Credit Balances,JP MORGAN CHASE BANK,2.19,254224722019JOANNE 112 SUMNER ST EAST BOSTON0...

In [180]:
#Dropping Duplicates from the dataframe
df_MA = df_MA.drop(['for_duplicates'], axis=1)

In [189]:
#Sorting the data based on Property ID.
df_MASS = df_MA.sort_values(by=['PROPERTY_ID'])
df_MASS = df_MA.reset_index(drop=True)
df_MASS

,PROPERTY_ID,YEAR_REPORTED,OWNER_NAME,ADDRESS,CITY,ZIP,PROPERTY_TYPE,HOLDER_NAME,UNCLAIMED_MONEY
0,25361511,2019,LISE,CO TEF TUFF NA 39 DODGE ST,BEVERLY,01915,Underlying shares,JP MORGAN CHASE BANK,26.000
1,25361512,2019,GREGORY P P,11 ROYCE RD APT 32,ALLSTON,02134,Underlying shares,JP MORGAN CHASE BANK,2.000
2,25361513,2019,MICHELE,58 SOUTH STREET,BERLIN,01503,Underlying shares,JP MORGAN CHASE BANK,2.000
3,25361514,2019,WILLIAM P P,102 CRABTREE RD,QUINCY,02171,Mutual Fund Shares,JP MORGAN CHASE BANK,52.126
4,25365405,2019,LINDSEY,28 ASCENSION ST,BLACKSTONE,01504,Miscellaneous Intangible Property,WELLS FARGO BANK,247.000
...,...,...,...,...,...,...,...,...,...
61849,27240399,2020,KELLY ANN,53 RICHARDSON RD,LEVERETT,01054,00 Safe Deposit Box Contents,BANK OF AMERICA,0.000
61850,27240412,2020,LAURA,,No City,No ZIP,00 Safe Deposit Box Contents,BANK OF AMERICA,0.000
61851,27240412,2020,RICHARD,,No City,No ZIP,00 Safe Deposit Box Contents,BANK OF AMERICA,0.000
61852,27243900,2020,STACY SMITH SMITH,1133 BROOK RD,MILTON,02186,00 Safe Deposit Box Contents,BANK OF AMERICA,0.000
61853,27243901,2020,JILLIAN,188 RAYMOND PLACE,STATEN ISLAND,10310,00 Safe Deposit Box Contents,BANK OF AMERICA,0.000

In [190]:
#Trimming and cleaning the classes with extra spaces or whitespaces.

df_MASS['OWNER_NAME'].str.strip()
df_MASS['ADDRESS'].str.strip()

0        CO TEF TUFF NA 39 DODGE ST
1                11 ROYCE RD APT 32
2                   58 SOUTH STREET
3                   102 CRABTREE RD
4                   28 ASCENSION ST
                    ...
61849              53 RICHARDSON RD
61850
61851
61852                 1133 BROOK RD
61853             188 RAYMOND PLACE
Name: ADDRESS, Length: 61854, dtype: object

In [191]:
df_MASS

,PROPERTY_ID,YEAR_REPORTED,OWNER_NAME,ADDRESS,CITY,ZIP,PROPERTY_TYPE,HOLDER_NAME,UNCLAIMED_MONEY
0,25361511,2019,LISE,CO TEF TUFF NA 39 DODGE ST,BEVERLY,01915,Underlying shares,JP MORGAN CHASE BANK,26.000
1,25361512,2019,GREGORY P P,11 ROYCE RD APT 32,ALLSTON,02134,Underlying shares,JP MORGAN CHASE BANK,2.000
2,25361513,2019,MICHELE,58 SOUTH STREET,BERLIN,01503,Underlying shares,JP MORGAN CHASE BANK,2.000
3,25361514,2019,WILLIAM P P,102 CRABTREE RD,QUINCY,02171,Mutual Fund Shares,JP MORGAN CHASE BANK,52.126
4,25365405,2019,LINDSEY,28 ASCENSION ST,BLACKSTONE,01504,Miscellaneous Intangible Property,WELLS FARGO BANK,247.000
...,...,...,...,...,...,...,...,...,...
61849,27240399,2020,KELLY ANN,53 RICHARDSON RD,LEVERETT,01054,00 Safe Deposit Box Contents,BANK OF AMERICA,0.000
61850,27240412,2020,LAURA,,No City,No ZIP,00 Safe Deposit Box Contents,BANK OF AMERICA,0.000
61851,27240412,2020,RICHARD,,No City,No ZIP,00 Safe Deposit Box Contents,BANK OF AMERICA,0.000
61852,27243900,2020,STACY SMITH SMITH,1133 BROOK RD,MILTON,02186,00 Safe Deposit Box Contents,BANK OF AMERICA,0.000
61853,27243901,2020,JILLIAN,188 RAYMOND PLACE,STATEN ISLAND,10310,00 Safe Deposit Box Contents,BANK OF AMERICA,0.000

In [192]:
df_MASS.to_csv('MA_Output.csv')

In [193]:
#Extracting a profile report for the Massachusetts UCP DataFrame to understand the information under different variable.
profile_MA_OUTPUT = ProfileReport(df_MASS, title = "Massachusetts UCP OUTPUT Profile")
profile_MA_OUTPUT.to_file("MA_OUTPUT_profile.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]